button:focus {
    outline:none;
}

a {
    transition: .2s;
}

p, h2 {
    font-family: 'PT sans', sans-serif;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

input:focus:-moz-placeholder {
    color:transparent;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]),
::-webkit-datetime-edit-text {
  color: transparent;
}

@font-face {
    font-family: 'MisoLight';
    src: url('../src/assets/miso-light.ttf');
}
            /*                      REMOVE DEFAULT SLIDER CSS                         */

input[type=range] {
    /*overflow: hidden;*/
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}



                /*                      PREFERENCE SLIDERS:                   ;*/


/*pref-slider Google Chrome*/
.pref-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #00b1dc;
  cursor: pointer;
  margin-top: -7px;

}
.pref-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px lightgray;
  background: white;
}



/*pref-slider FireFox*/
.pref-slider::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  background: #00b1dc;
  cursor: pointer;
}

.pref-slider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #00b1dc;
}


/*pref-slider IE*/
.pref-slider::-ms-thumb {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  background: #00b1dc;
  cursor: pointer;
}

.pref-slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.pref-slider::-ms-fill-lower {
  background: #00b1dc;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
}

.pref-slider::-ms-fill-upper {
  background: white;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
}

.slider-preferences {
    width: 45%;
    margin: 2.5%;
    margin-bottom: 0px;
    display: inline-block;
    text-align: left
}

.pref-slider {
    display: inline-block;
    width: 100%;
}

.pref-title {
    font-size: 1.1em;
    font-family: 'PT sans', sans-serif;
    margin-left: 0%;
}

.traveler-profile-title {
    font-size: 1.1em;
    font-family: 'PT sans', sans-serif;
    margin-left: 2.5%;
}

.pref-footer-left {
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
    font-size: .9em;
    font-family: 'PT sans', sans-serif;
}
.pref-footer-right {
    margin-top: 20px;
    margin-bottom: 0px;
    float: right;
    font-size: .9em;
    font-family: 'PT sans', sans-serif;
}






                    /*          PROFILE SLIDERS        */

.slide-1::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #dec300;
  cursor: pointer;
  margin-top: -8px;

}
.slide-1::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #dec300;
  border-radius: 1.3px;
}

.slide-1-color {
    color: #dec300;
}

.slide-2::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #37b0ab;
  border-radius: 1.3px;
}

.slide-2::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #37b0ab;
  cursor: pointer;
  margin-top: -8px;

}

.slide-2-color {
    color: #37b0ab;
}

.slide-3::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #2c407b;
  border-radius: 1.3px;
}

.slide-3::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #2c407b;
  cursor: pointer;
  margin-top: -8px;

}

.slide-3-color {
    color: #2c407b;
}

.slide-4::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #a0545e;
  border-radius: 1.3px;
}
.slide-4::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #a0545e;
  cursor: pointer;
  margin-top: -8px;

}

.slide-4-color {
    color: #a0545e;
}

.slide-5::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #71d1cf;
  border-radius: 1.3px;
}

.slide-5::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #71d1cf;
  cursor: pointer;
  margin-top: -8px;

}

.slide-5-color {
    color: #71d1cf;
}

.slide-6::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #ed2d51;
  border-radius: 1.3px;
}

.slide-6::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #ed2d51;
  cursor: pointer;
  margin-top: -8px;

}

.slide-6-color {
    color: #ed2d51;
}

.slide-7::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #0073ce;
  border-radius: 1.3px;
}

.slide-7::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #0073ce;
  cursor: pointer;
  margin-top: -8px;
}

.slide-7-color {
    color: #0073ce;
}

.slide-8::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #437524;
  cursor: pointer;
  margin-top: -8px;

}
.slide-8::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #437524;
  border-radius: 1.3px;
}

.slide-8-color {
    color: #437524;
}

.slide-9::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #9aac47;
  cursor: pointer;
  margin-top: -8px;

}
.slide-9::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #9aac47;
  border-radius: 1.3px;
}

.slide-9-color {
    color: #9aac47;
}

.slide-10::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #82b5c4;
  cursor: pointer;
  margin-top: -8px;

}
.slide-10::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #82b5c4;
  border-radius: 1.3px;
}

.slide-10-color {
    color: #82b5c4;
}

.slide-11::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #e08a6f;
  cursor: pointer;
  margin-top: -8px;

}
.slide-11::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #e08a6f;
  border-radius: 1.3px;
}

.slide-11-color {
    color: #e08a6f;
}

.slide-12::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #f0b203;
  cursor: pointer;
  margin-top: -8px;

}
.slide-12::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);
  background: #f0b203;
  border-radius: 1.3px;
}

.slide-12-color {
    color: #f0b203;
}




        /*                      REST OF PROFILE COMPONENT                   */


.profile-category-message {
    margin: 20px;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'PT sans', sans-serif;
}

.profile-category-title {
    font-size: 1.1em;
    font-family: 'PT sans', sans-serif;
}

.row-white {
    background-color: white;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.row-grey {
    background-color: #F3F3F3;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: -10px; padding-top: -10px;
}

.slide-div {
    display: inline-block;
    text-align: center;
    width: 29%;
    margin: 2.1%;
    margin-top: 10px;
    margin-bottom: 0px;
}





                    /*                      NIGHTLIFE TYPES                       */

.checkbox-label {
    display: inline-block;
    font-size: .9em;
    font-family: 'PT sans', sans-serif;
    margin-bottom: 0px;
    margin-left: 5px;
}
.checkboxes {
    vertical-align: top;
}
.barClubLounge, .seeTheTown, .eventsEntertainment {
    margin-top: 0px !important;
}

.nightlife-title {
    font-size: 1.2em;
    font-family: 'PT sans', sans-serif;
    margin-left: 2.5%;
    line-height: .6em;
}


.adult-checkbox {
    display: inline-block;
    margin-left: 2.5%;
    vertical-align: middle;
}

.family-checkbox {
    float: right;
    margin-right: 10%;
}


                /*                      SEARCH BAR                                */

.searchbar {
    margin: 25px;
    margin-top: 1px;
}
.searchbar input:focus {
    outline: none;
}

.searchbar input {
    border-bottom: 2px solid lightgray;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    padding: 10px;
    padding-bottom: 10px;
    width: 100% !important;
}


                /*                      NAV BAR                         */

.fa-chevron-right {
    float: right !important;
    vertical-align: middle;
    margin-top: 3px;
    color: lightgray !important;
}

.dropdown-locations:hover .fa-chevron-right {
    color: darkgray !important;
}

.divider {
    width: 190px;;
    margin: 9px 20px 9px 20px !important;
}

.dropdown {
    transition-delay: 1s;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important;
 }

.dropdown-locations {
    font-family: 'PT sans', sans-serif;
    transition: none !important;
    display: inline-block;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.dropdown-locations:hover, .dropdown-locations:focus {
    background: none !important;
    color: #2dccf2 !important;
    transition: none !important;
}

.dropdown-menu {
    width: 230px;
    border: 0px !important;
    border-radius: 3px !important;
}

.navbar-brand {
    margin-top: 5px;
    padding-left: 0px;
    margin-right: 0px;
    height: 10px;
    width: 10px;
    z-index: 500;
}

.nav-links {
    color: white !important;
    font-family: 'MisoLight', sans-serif !important;
    font-size: 1.1em;
    z-index: 5000;
}


.home-img {
    width: 20px;
    height: 20px;
    margin: 10px 0px 0px 20px;
    z-index: 5000;
    color: white;
}

.home-img:hover {
    cursor: pointer !important;
}

.navbar-nav > li > a {
    padding-top:15px !important;
    padding-bottom:10px !important;
}

nav.navbar.navbar-default {
    height:60px !important;
    padding-top: 5px !important;
    box-shadow: none !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin-bottom: 20px !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba(68,68,68,1) 0%, rgba(18,18,18,1) 100%);
    background: -o-linear-gradient(rgba(68,68,68,1) 0%, rgba(18,18,18,1) 100%);
    background: linear-gradient(rgba(68,68,68,1) 0%, rgba(18,18,18,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#121212',GradientType=0 );
}

.dropdown-locations {
    font-size: 14px;
}


.navbar-default, .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    background-color: rgba(0,0,0,0) !important;
}


                    /*                      HEADER                        */

.underline {
    border-bottom: 2px solid black;
}

.underline-button {
    border-bottom: 2px solid white;
    display: inline-block;
    margin: 0px !important;
}
.utrip-logo-nav {
    width: 120px;
    height: auto;
    z-index: 99999999 !important;
    margin-top: 9px;
}

.utrip-logo-nav:hover {
    cursor: pointer;
}

.logo-div {
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 100;
    text-align: center;
    background: transparent;
}


.header {
    text-align: center;
}

.header-title {
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'MisoLight', sans-serif;
    display: inline-block;
}


.header-link {
    color: rgb(185, 185, 185);
    font-size: 1.1em;
    margin-bottom: 30px;
    font-family: 'PT Sans', sans-serif;
}

.bottom-header {
    text-align: center;
}

.header-link:hover {
    text-decoration: none;
    color: rgb(136, 136, 136)
}

.horizontal-break {
    margin-bottom: 0px !important;
    margin-top: 30px;
    height: 7px;
    border: 0;
    box-shadow: inset 0 7px 7px -7px rgba(96, 96, 96, 0.5);
}



                    /*                      FOOTER                        */

.footer {
    border-top: 3px solid #E0E0E0;
    height: 73px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}
.links {
    margin-left: 1.25%;
}
.footer-link {
    font-size: .9em;
    font-family: 'PT sans', sans-serif;
    color: #999;
    display: inline-block;
    padding: 2px;
    margin-bottom: 0px;
}

.footer-link:hover {
    color: #999 !important;
    text-decoration: underline;
}

.footer-link:focus {
    color: #999 !important;
}

.bottom-links {
    margin-top: -20px;
}

.right-links {
    float:right;
    line-height: 10px;
    margin-right: 1%;
}

.right-link {
    color: #999;
    margin-right: 10px;
    font-size: 20px;
}

.right-link:hover {
    color: rgb(133, 133, 133);
}

.copyright {
    float: right;
    font-size: 14px;
    color: #999;
    margin-right: 1.5%;
    margin-bottom: 0px;
    text-align: bottom;
    line-height: 10px;
}







                    /*                      PROFILE PICKER                        */

.profile-picker, .preferences, .refine {
    text-align: center;
    margin-top: 30px;
}

.profile-picker{
    height: 50%;
    vertical-align: middle;
    overflow: visible;
}

.profile-icon {
    width: 16%;
    /*margin: 0px 1.5% 0px 1.5% !important;*/
    height: auto;
    vertical-align: middle;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.profile-icon:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    /*width: 17%;
    height: auto;*/
}


                    /*                      MAP                       */

.leaflet-container {
    height: 1300px;
    width: 100%;
    z-index: 99 !important;
}

.leaflet-control {
    z-index: 100 !important;

}


                    /*                      LEFT / RIGHT CONTENT                    */
.right-content, .left-content {
    width: 50%;
    height: 100%;
    display: inline-block;
    /*margin: 10px;*/
    vertical-align: top;
    margin-top: -7px;
}

.right-content {
    width: 50% !important;
    margin-right: -40px;
    margin-top: -6px !important;
    position: relative;
}



.left-content-titles {
    font-size: 1.5em;
    font-family: 'PT sans', sans-serif;
    color: dimgray;
    margin-bottom: 5px;
}




                    /*                      REFINE                        */
button:active {
    outline: none;
}
.refine-button {
    border: none;
    border-radius: 4px;
    background-color: #808080;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-family: 'PT sans', sans-serif;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 2px;
}

.refine-button-selected {
    border: none;
    border-radius: 4px;
    background-color: #00A9D3;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-family: 'PT sans', sans-serif;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 2px;
}

.refine-button:hover, .refine-button-selected:hover {
    background-color: #38bada !important;
}

.refine-hr {
    margin-top: 40px;
    width: 95%;
}


            /*                        DATEPICKER                         */

.datePicker {
    position: absolute;
    z-index: 500;
    top: 20px;
    right: 10%;
    left: 10%;
    padding: 20px 20px 25px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.85);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    text-align: center;
}

.depart-div, .return-div {
    display: inline-block;
    width: 50%;
    height: 50px;
}

.depart-div {
    padding-right: 15px;
}

.return-div {
    padding-left: 15px;
}

.depart, .return {
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 100%;
}

.date-button {
    margin-top: 20px;
    padding: 10px 16px 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'PT Sans',sans-serif;
    background-color: #00B1DD;
    border: none;
    box-shadow: none;
    color: #fff;
}

.date-title {
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
}


                    /*                        MODAL                             */
.us-modal {
    margin: 0px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 150ms ease-in;
	-moz-transition: opacity 150ms ease-in;
	transition: opacity 150ms ease-in;
	pointer-events: none;
}

.us-modal:target {
	opacity:1;
	pointer-events:auto;
    cursor: auto;
}

.us-modal-div {
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	background: #fff;
    z-index: 1001;
    text-align: left;
    padding: 15px 20px 15px 20px !important;
}
.modal-dialog {
    margin: 0px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 150ms ease-in;
	-moz-transition: opacity 150ms ease-in;
	transition: opacity 150ms ease-in;
	pointer-events: none;
}

.modal-dialog:target {
	opacity:1;
	pointer-events:auto;
    cursor: auto;
}

.modal-div {
	width: 58%;
	position: relative;
	margin: 70px auto;
	padding: 5px 20px 13px 20px;
	border-radius: 3px;
	background: #fff;
    z-index: 1001;
    text-align: left;
    padding: 15px 20px 15px 20px !important;
}

.modal-bg {
    background: rgba(0,0,0,.5);
    display: block;
    width: 100%;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .15s;
    z-index: 1000;
}

.modal-title {
    font-size: 24px;
    text-align: center;
}

.close-modal {
	color: lightgray;
	line-height: 25px;
    font-size: 26px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 4px;
	text-decoration: none;
	font-weight: bold;
    border: none;
    font-family: 'PT sans', sans-serif;
}
.close-modal:hover, .close-modal:focus {
    text-decoration: none;
    color: lightgray;
}
